/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 8 sept. 2015, 12:26:38
    Author     : Olivier
*/
html{
    height: 100%;
    width: 100%;
    
}
body{
    padding:0px;
    margin: 0px;
    border:0px;
    font-family: arial;
      
}
body{
    padding:auto;
    margin: auto;
    border:0px;
    font-family: arial;
      
}

.info{
    color:green;
    margin: 0px;
}

.erreur{
    color:red;
    margin: 0px;
}

img:hover{
    cursor:pointer; 
}