
.tableList{
    margin: auto;
    margin-bottom: 10px;
}

.tableList td{
    font-size: 0.8em;
    margin-left: 5px;
}

.colData,.colTitle,.colLinkCell{
    color:white;
    min-width: 25px;
    text-align: center;
    border:1px solid white;
    padding:5px;
}

.colTitle{
    border-top:none;
    border-left:none;
    border-right: none;
    border-bottom: 2px solid white;
}

.colLinkCell:hover{
    cursor:pointer;
    color:blue;
}
.colTdIco{
    width: 18px;
}

.colTdIco img{
    
    width: 16px;
    height: 16px;
    margin: auto;
}

.colImg{
    border:1px solid white;
    height: 100px;
    max-height: 100px;
}

.puceNav{
    margin: auto;
    margin-top: 10px;
    margin-bottom: 5px;
    border-collapse:separate;
    font-size: 1.1em;
    color: antiquewhite;
}


.puceNav a{
    margin-right: 2px;
    margin-left:  2px;
    color: antiquewhite;
}

.puceNav a:link, .puceNav a:visited{
    text-decoration:none;
    
    padding:3px 6px;
}

.puceNav td{
    border: solid antiquewhite 1px;
    min-width: 35px;
    text-align: center;
}

.puceNavActive a{
    color: black;
    font-weight:bold;
}

.puceNavDesactive a{
    color: darkgray;
}