/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 3 sept. 2015, 15:34:05
    Author     : Olivier
*/

/* Base CSS */

/* Initialisation des attributs*/

#menu {
    padding: 0px; 
    margin:  0px; 
    border:  0px;
    
    
}
#menu ul,
#menu ul li,
#menu ul ul {
    list-style: none;
    margin: 0px; 
    padding: 0px; 
    border: 0px;
}

#menu{
    background-color: black;
    position:fixed;
    height:100%;
    width: 10.5%;
    top:15.1%;

}

#menu ul {
    position: relative; 
    z-index: 0;
    margin-top: 20%;
    
}

#menu ul li {
    min-height: 1px; 
    line-height: 1em;
    vertical-align: middle;
    horizontal-align:middle;
    height: auto;
    min-height: 1.5em;
}

#menu ul li:hover {
    position: relative; 
    z-index: 399; 
    cursor: default;
}

#menu ul ul {
    visibility: hidden;
    position: absolute;
    top: 100%; 
    left: 0;
    z-index: 398;
    width: 100%;
}

#menu ul ul ul {
    top: 0px;
    left: 99%;
    width:auto;
    
}

#menu ul li:hover > ul {
    visibility: visible;
}

#menu ul ul {
    top: 0px; 
    left: 99%;
}

/* Custom CSS Styles */
/*Propriétés spécifiques */

#menu ul {
    border-right: 0.3em solid;
    border-right-color:#61C45A;
    
}

#menu ul ul {
    width: 100%;
    background: #55d247;
}

#menu ul li {
    padding: 4px 10px;
    color: #55d247;
}

#menu ul li.hover,
#menu ul li:hover {
    background: #61C45A;
    color: #fff;

}

#menu ul a:link,
#menu ul a:visited {
    color: white;
    text-decoration: none;
    font-family: arial;
    font-weight: bold;
}
#menu ul a:hover {
    color: #000;
    
}

#menu ul a:active {
    color: #FAED3C;
}

/* Bloc du centre de l'application */
.zone_client{
    position :static;
    top:12%;
    left:10.5%;
    width:100%;
    height:90%;
    background-color: white;
    display: inline-block;
    //background-color: yellow;
}
.formulaire{
    position: relative;
}