body{
    background-color: antiquewhite;
}

.corps, .corpsCenter{    
    position: relative;
    width: 98%;
    height: auto;    
    background-color: gray;
    border: 2px solid yellow;
    border-radius: 10px 10px 10px 10px;
    -moz-box-shadow: 10px 10px 5px 0px #cfcfcf;
    -webkit-box-shadow: 10px 10px 5px 0px #cfcfcf;
    -o-box-shadow: 10px 10px 5px 0px #cfcfcf;
    box-shadow: 10px 10px 5px 0px #cfcfcf;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#cfcfcf, Direction=134, Strength=5);
}
.corpsCenter{
    text-align: center;
    
}
.col30 label{
    display: inline-block;
    text-align: left;
    width: 80px;
}
input{
    margin-left: auto;
    margin-top: 1%;
}
.form{
    position: relative;            
    width: 98%;
    height: auto;
    margin: 1%;
}
.form img{
    border: solid black 1px;
    vertical-align: middle;
    float: right;
    margin-right: 20px;
}

hr{
    background-color: antiquewhite;
    height: 1px;
    margin-left: 5%;
    margin-right: 5%;
    border: none;
}
h2{
    color: #cfcfcf;
    text-align: center;
}
h3{
    color: wheat;
    text-align: center;
    margin-top: 1px;
    margin-bottom: 1px;
}
.form label{    
    color: white;
}
.droite, .gauche{
    border: antiquewhite solid 2px;
    border-radius: 10px 10px 10px 10px;
    -moz-box-shadow: 10px 10px 5px 0px #cfcfcf;
    -webkit-box-shadow: 10px 10px 5px 0px #cfcfcf;
    -o-box-shadow: 10px 10px 5px 0px #cfcfcf;
    box-shadow: 10px 10px 5px 0px #cfcfcf;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#cfcfcf, Direction=134, Strength=5);
    
}
.gauche{
    padding: 5px;   
    margin-left: 5px;
    display: inline-block;
    vertical-align: top;    
    width: 47%;     
}

.droite{
    width: auto;    
   margin-left: 15px;
    display: inline-block;
    vertical-align: top;
    
}
.bas{
    display: block;
    text-align: center;
    margin-top: 15px;
    
}