
.tableList{
    margin: 5px;
}

.tableList td{
    font-size: 0.8em;
    margin-left: 5px;
}

.colData,.colTitle{
    color:white;
    min-width: 25px;
    text-align: center;
    border:1px solid white;
    padding:5px;
}

.colTitle{
    border-top:none;
    border-left:none;
    border-right: none;
    border-bottom: 2px solid white;
}

.colTdImg{
    width: 18px;
}

.colTdImg img{
    width: 16px;
    height: 16px;
    margin: auto;
}
