/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 1 oct. 2015, 15:06:46
    Author     : Olivier
*/

#bonTable{
    border-collapse: collapse;
    margin-top: 1%;
    margin-bottom: 1%;
    color: whitesmoke;
    width: auto;
    text-align: center;
}

#bonTable th{
    border: 2px solid whitesmoke;
    font-size: 0.8em;
}

#bonTable td{
    text-align: center;
    border: 2px solid whitesmoke;
}

#bonTable input{
    width: 100%;
    margin: auto;
}

#bonTableImg{
    size: auto;
    text-align: center;
    border:none; 
}

#thImg{
 border:none;   
}

.tdImgTd{
    margin: auto;
    text-align: center; 
    border:none;
}
#bonTable td textArea{
    margin:5px;
}
#divTable{
    min-height:10%;
}

.trColTitre{
    color: whitesmoke;
}


.beLigne{
    margin: 0;
    margin-top: 0.4%;
    margin-bottom: 0.4%;
    padding: 0;
    color: whitesmoke;
    border-collapse: collapse;
    width: auto;
}

.colTitleSup{
    
    border-top: 2px solid white;
    border-left: 2px solid white;
    border-right: 2px solid white;
}

.colTitlSupUnique{
    border-top: 2px solid white;
    border-left: 2px solid white;
    border-right: 2px solid white;
    border-bottom:  2px solid white;
}

.colTitleLeft{
    border-left: 2px solid white;
    border-bottom:  2px solid white;
}

.colTitleMiddle{
     border-bottom:  2px solid white;
}

.colTitleRight{
    border-right: 2px solid white;
    border-bottom:  2px solid white;
}




.beLigne th{
    
    font-size: 0.8em;
}
.beLigne input:read-only{
    background-color: #cfcfcf;
}

.beLigne td{
    text-align: center;
    border: solid black 1px;
}

.beLigne input{
    text-align: center;
    margin-left: 0px;
    width: 45px;
    margin: auto;
}

.beLigne textArea{
    height: 20px;
    width: 45px;
    min-width: 45px;
    margin: auto;
}
.beLigneNb{
    width: 40px;
    min-width: 40px;
}
.beLigneId{
    
    width: 25px;
    min-width: 25px;
    
}
.beLigneCode{
    
    width: 60px;
    min-width: 60px;
    
}

.beLigneImg{
    size: auto;
     margin: auto;
     
     text-align: center;
}
