/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 9 sept. 2015, 11:01:35
    Author     : Olivier
*/
footer{
    position:fixed;
    width:86%;
    height: 10%;
    background-color: whitesmoke;
    bottom:0%;
    left:12%;
    border-top: 1px solid black;
    margin: 5px;
    margin-bottom: 1%; 
    margin-right: 7px;
    border: 2px magenta solid;
    border-radius: 10px 10px 10px 10px;
    -moz-box-shadow: 10px 10px 5px 0px #cfcfcf;
    -webkit-box-shadow: 10px 10px 5px 0px #cfcfcf;
    -o-box-shadow: 10px 10px 5px 0px #cfcfcf;
    box-shadow: 10px 10px 5px 0px #cfcfcf;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#cfcfcf, Direction=134, Strength=5);
}
#bloc_footer{
}