

/*Initialisation des propriétés*/

#bloc_header{
    margin: 0px;
    padding: 0px;
    border: 0px;
}

/* Propriétés spécifiques*/
#bloc_header{
    position:fixed;
    width:  100%;
    height: 15.1%;
    min-height: 15.1%;
    max-height: 15.1%;
    
}

#bloc_header div{
    display: inline-block;
    vertical-align: middle;
    
}
#header_img{
    
    width:10.5%; 
    height:89%;
    background-image: url(../img/site/Bandeau_SOLYA.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: cyan;
    border: solid black 0px;
    border-left: 3px solid black;
    border-right: 3px solid black;
    
    border-radius: 10px 10px 10px 10px;
    -moz-box-shadow: 10px 10px 5px 0px #cfcfcf;
    -webkit-box-shadow: 10px 10px 5px 0px #cfcfcf;
    -o-box-shadow: 10px 10px 5px 0px #cfcfcf;
    box-shadow: 10px 10px 5px 0px #cfcfcf;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#cfcfcf, Direction=134, Strength=5);
    
    
}

#header_title{
    margin-left: 1%;
    margin-right: 1%;
    width:70%;
    height: 89%;
    border: solid black 2px;
    background-color:lightslategrey;
    color: white;
    border-radius: 10px 10px 10px 10px;
    -moz-box-shadow: 10px 10px 5px 0px #cfcfcf;
    -webkit-box-shadow: 10px 10px 5px 0px #cfcfcf;
    -o-box-shadow: 10px 10px 5px 0px #cfcfcf;
    box-shadow: 10px 10px 5px 0px #cfcfcf;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#cfcfcf, Direction=134, Strength=5);
}


#header_user_info{
    
    display:block;
    border: solid black 2px;
    margin-right:0.2%;
    background-color: whitesmoke;
    height: 89%;
    width:14.7%;
    min-width: 14.7%;
    text-align:center;
    top:0%;
    border-radius: 10px 10px 10px 10px;
    -moz-box-shadow: 10px 10px 5px 0px #cfcfcf;
    -webkit-box-shadow: 10px 10px 5px 0px #cfcfcf;
    -o-box-shadow: 10px 10px 5px 0px #cfcfcf;
    box-shadow: 10px 10px 5px 0px #cfcfcf;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#cfcfcf, Direction=134, Strength=5);
}
#ui_title{
    
    font-weight: bold;
    font-size: 0.9em;
}

#ui_info{
    padding:5%;
    font-size: 70%;    
}
#ui_btn_deco{
    font-size: 70%;
    width: auto;
}

h1
{
	text-shadow:2px 2px 2px 2px black;
	color: #FFFFFF;
	font-size: 50px;
        text-align:center;
}

/* Bloc du centre de l'application */
.zone_client{
    position :static;
    //top:12%;
    //left:10.5%;
    width:99%;
    height:99%;
    //border: solid black 2px;
    //background-color: yellow;
}
