

#asideInfos{
    margin:0px;
    padding:0px;
    border:0px
}

#asideInfos{
    right:1.3%;
    background-color: lightslategray;
    position:fixed;
    height:70%;
    width: 14.7%;
    min-width: 14.7%;
    top:17%;
    border:  2px solid cyan;
    border-radius: 10px 10px 10px 10px;
    -moz-box-shadow: 10px 10px 5px 0px #cfcfcf;
    -webkit-box-shadow: 10px 10px 5px 0px #cfcfcf;
    -o-box-shadow: 10px 10px 5px 0px #cfcfcf;
    box-shadow: 10px 10px 5px 0px #cfcfcf;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#cfcfcf, Direction=134, Strength=5);
}

#alert, #blocSearch{
    overflow: auto;
    margin: 4%;
    padding:auto;
    background-color: gainsboro;
    width: auto;
    border:  2px solid cyan;
    border-radius: 10px 10px 10px 10px;
    -moz-box-shadow: 5px 5px 5px 0px #cfcfcf;
    -webkit-box-shadow: 5px 5px 5px 0px #cfcfcf;
    -o-box-shadow: 5px 5px 5px 0px #cfcfcf;
    box-shadow: 5px 5px 5px 0px #cfcfcf;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#cfcfcf, Direction=134, Strength=5);
}

#alert table, #blocSearch table{
    border-collapse: collapse;
    margin:2%;
    width: auto;
    text-align: center;
    table-layout: auto;
}

#alert th, #blocSearch th{
    border: 2px solid black;
    font-size: 0.8em;
}

#alert td, #blocSearch td{
    text-align: center;
    border: 1px solid black;
   
   //width:100%;
}
#alert tr, #blocSearch tr{
    width:auto;
}
