//Initialisation des propriétés
html{
    height: 100%;
    width: 100%;
    
}
body{
    padding:0px;
    margin: 0px;
    border:0px;
    font-family: arial;
      
}
body{
    padding:auto;
    margin: auto;
    border:0px;
    font-family: arial;
    background-color: whitesmoke; 
}

.info{
    color:green;
    margin: 0px;
}

.erreur{
    color:red;
    margin: 0px;
}

img:hover{
    cursor:pointer; 
}