/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 9 sept. 2015, 09:32:50
    Author     : Olivier
*/
#bloc_accueil{
    position: fixed;
    top:15.1%;
    left:10.5%;
    
}
