/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 3 sept. 2015, 15:34:05
    Author     : Olivier
*/

/* Base CSS */

/* Initialisation des attributs*/

#menu {
    padding: 0px; 
    margin: 0px;
    
}
#menu ul,
#menu ul li,
#menu ul ul {
    list-style: none;
    margin: 0px; 
    padding: 0px; 
    border: 0px;
}

#menu{
    z-index: 1;
    background-color: black;
    position:fixed;
    height:82.7%;
    margin-left: 5px;
    margin-top: 17px;
    width: 10.5%;
    top:15.1%;
     border:  2px solid cyan;
    border-radius: 10px 10px 10px 10px;
    -moz-box-shadow: 10px 10px 5px 0px #cfcfcf;
    -webkit-box-shadow: 10px 10px 5px 0px #cfcfcf;
    -o-box-shadow: 10px 10px 5px 0px #cfcfcf;
    box-shadow: 10px 10px 5px 0px #cfcfcf;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#cfcfcf, Direction=134, Strength=5);
}

#menu ul {
    position: relative; 
    z-index: 0;
    margin-top: 20%;
    
}

#menu ul li {
    min-height: 1px; 
    line-height: 1em;
    vertical-align: middle;
    horizontal-align:middle;
    height: auto;
    min-height: 1.5em;
}

#menu ul li:hover {
    position: relative; 
    z-index: 399; 
    cursor: default;
}

#menu ul ul {
    visibility: hidden;
    position: absolute;
    top: 100%; 
    left: 0;
    z-index: 398;
    width: 100%;
}

#menu ul ul ul {
    top: 0px;
    left: 99%;
    width:auto;
    
}

#menu ul li:hover > ul {
    visibility: visible;
}

#menu ul ul {
    top: 0px; 
    left: 99%;
}

/* Custom CSS Styles */
/*Propriétés spécifiques */

#menu ul {
    border-right: 0.3em solid;
    border-right-color:#61C45A;
    
}

#menu ul ul {
    width: 100%;
    background: #55d247;
}

#menu ul li {
    padding: 4px 10px;
    color: #55d247;
}

#menu ul li.hover,
#menu ul li:hover {
    background: #61C45A;
    color: #fff;

}

#menu ul a:link,
#menu ul a:visited {
    color: white;
    text-decoration: none;
    font-family: arial;
    font-weight: bold;
}
#menu ul a:hover {
    color: #000;
    
}

#menu ul a:active {
    color: #FAED3C;
}


.formulaire{
    position: relative;
}