/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 9 sept. 2015, 15:51:47
    Author     : patat
*/

.corps{
    position: relative;
    width: 74%;
    height: auto;
    left: 12.4%;
    top: 18%;

    border: 2px solid yellow;
    border-radius: 10px 10px 10px 10px;
    -moz-box-shadow: 10px 10px 5px 0px #cfcfcf;
    -webkit-box-shadow: 10px 10px 5px 0px #cfcfcf;
    -o-box-shadow: 10px 10px 5px 0px #cfcfcf;
    box-shadow: 10px 10px 5px 0px #cfcfcf;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#cfcfcf, Direction=134, Strength=5);

}
.form{
    position: relative;
    display: inline-block;
    vertical-align: top;
    border: red solid 1px;    
    width: 98%;
    height: auto;
    margin: 1%;
}
.gauche{
    width: 400px;    
    border: blue solid 1px;
    
}
.droite{
    width: 200px;    
    border: green solid 1px;
}
.gauche, label{
    width: 250px;
}
.gauche, input{
    width: 250px;
}
