
.tableList{
    margin: 5px;
}

.tableList td{
    font-size: 0.8em;
    margin-left: 5px;
}

.colData,.colTitle{
    color:white;
    min-width: 25px;
    text-align: center;
    border:1px solid white;
    padding:5px;
}

.colTitle{
    border-top:none;
    border-left:none;
    border-right: none;
    border-bottom: 2px solid white;
}

.colTdImg{
    width: 18px;
}

.colTdImg img{
    width: 16px;
    height: 16px;
    margin: auto;
}

.colImg{
    
}

.puceNav{
    border-collapse:separate;
    font-size: 1.1em;
    color: antiquewhite;
}


.puceNav a{
    margin-right: 2px;
    margin-left:  2px;
    color: antiquewhite;
}

.puceNav a:link, .puceNav a:visited{
    text-decoration:none;
    
    padding:3px 6px;
}

.puceNav td{
    border: solid antiquewhite 1px;
    min-width: 35px;
    text-align: center;
}

.puceNavActive a{
    color: black;
    font-weight:bold;
}

.puceNavDesactive a{
    color: darkgray;
}