/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 9 sept. 2015, 15:51:47
    Author     : patat
*/

.corps{
    overflow: auto;
    position: fixed;
    width: 70%;
    height: 70%;
    left: 12.5%;
    top: 17%;
    background-color: gray;
    border: 2px solid yellow;
    border-radius: 10px 10px 10px 10px;
    -moz-box-shadow: 10px 10px 5px 0px #cfcfcf;
    -webkit-box-shadow: 10px 10px 5px 0px #cfcfcf;
    -o-box-shadow: 10px 10px 5px 0px #cfcfcf;
    box-shadow: 10px 10px 5px 0px #cfcfcf;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#cfcfcf, Direction=134, Strength=5);

}
h2{
    color: wheat;
    text-align: center;
}
.form{
    position: relative;            
    width: 98%;
    height: auto;
    margin: 1%;
}
img{
    //border: solid black 1px;
    vertical-align: middle;
    float: right;
    margin-right: 20px;
}
.form input,textArea,select, #divSuggest{
    margin-left: 30px;
    margin-top: 4px;
    margin-bottom: 8px;
    border: solid black 1px;
    font-size: 0.82em;  
}
.form label{    
    color: white;
}

.form textArea{

}

.inputSmall{
    width: 45px;
    max-width: 45px;
}

#divNut{
    height: 540px;
    max-height: 540px;
}

.col30, .col50, .col70, .col20, .col90{
    overflow:auto;
    padding: 0.2%;   
    display: inline-block;
    vertical-align: top;  
    margin: 0.8%;
    border: antiquewhite solid 2px;
    border-radius: 10px 10px 10px 10px;
    -moz-box-shadow: 10px 10px 5px 0px #cfcfcf;
    -webkit-box-shadow: 10px 10px 5px 0px #cfcfcf;
    -o-box-shadow: 10px 10px 5px 0px #cfcfcf;
    box-shadow: 10px 10px 5px 0px #cfcfcf;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#cfcfcf, Direction=134, Strength=5);

}
.col30{
    max-width: 30%; 
    width:30%;
}

.col50{
    max-width: 45%; 
    width:45%;

}
.col70{
    max-width: 70%; 
    width:70%;
}

.col90{
    max-width: 97%; 
    width:97%;
}

.col20{
    max-width: 20%; 
    width:20%;
}

.impImg input{
    margin-left: 0px;
    max-width: 200px;
}

.imgList{
    min-height: 10px;
    max-height: 200px;
    overflow: auto;
}

.bas{
    display: block;
    text-align: center;
    margin-top: 0.5%;
    height:auto;
}
.haut{ 
    margin: 0.3%;
    margin-bottom: 0.5%;
    border: antiquewhite solid 2px;
    border-radius: 10px 10px 10px 10px;
    -moz-box-shadow: 5px 5px 5px 0px #cfcfcf;
    -webkit-box-shadow: 5px 5px 5px 0px #cfcfcf;
    -o-box-shadow: 5px 5px 5px 0px #cfcfcf;
    box-shadow: 5px 5px 5px 0px #cfcfcf;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#cfcfcf, Direction=134, Strength=5);
}
.listchoisis{
    color: white;
    margin: 1%;
}
table{
    border-collapse: collapse;
}
#colImg{
    min-width: 250px;
}

.colData,.colTitle{
    color:white;
    min-width: 100px;
    text-align: center;
    border:1px solid white;
    padding:5px;
}
.colTitle:hover, #colFiart:hover{
    cursor:pointer;
    color:blue;
}

.colTitle{
    border-top:none;
    border-left:none;
    border-right: none;
    border-bottom: 2px solid white;
}

#divSuggest{
    background-color: white;
    width:157px;
}

.beLigne{
    margin-top: 0.4%;
    margin-bottom: 0.4%;
    color: whitesmoke;
    border-collapse: collapse;
    width: auto;
}

.beLigne th{
    border: 1px solid black;
    
    font-size: 0.8em;
}
.beLigne input:read-only{
    background-color: #cfcfcf;
}

.beLigne td{
    text-align: center;
    //border-bottom: 1px solid black;
    border: 1px solid black;
}

.beLigne input{
    text-align: center;
    width: 100%;
    margin: auto;
}

.beLigne textArea{
    
    width: 30px;
    min-width: 30px;
    margin: auto;
}
.beLigneNb{
    width: 40px;
    min-width: 40px;
}
.beLigneId{
    
    width: 25px;
    min-width: 25px;
    
}
.beLigneCode{
    
    width: 60px;
    min-width: 60px;
    
}
.beLigneT{
    //width: 30px;
    //min-width: 30px;
}

.beLigneImg{
    size: auto;
     margin: auto;
     
     text-align: center;
}

.tdImgTd{
    margin: auto;
    
    text-align: center;
    border: 1px solid black;
    
}
