/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 1 oct. 2015, 15:06:46
    Author     : Olivier
*/

input:read-only{
    background-color: #cfcfcf;
}

#bonTable{
    border-collapse: collapse;
    margin-top: 1%;
    margin-bottom: 1%;
    color: whitesmoke;
    width: auto;
    text-align: center;
}

#bonTable th{
    border: 2px solid whitesmoke;
    font-size: 0.8em;
}

#bonTable td{
    text-align: center;
    border: 2px solid whitesmoke;
}

#bonTable input{
    width: 100%;
    margin: auto;
}

#bonTableImg{
    size: auto;
    text-align: center;
    border:none; 
}

#thImg{
 border:none;   
}

.tdImgTd{
    margin: auto;
    text-align: center; 
    border:none;
}
#bonTable td textArea{
    margin:5px;
}
#divTable{
    min-height:10%;
}

.trColTitre{
    color: whitesmoke;
}

.beLigne{
    margin-bottom: 0.4%;
    color: whitesmoke;
    border-collapse: collapse;
    width: auto;
    border-color: antiquewhite;
}

.colTitleSup{
    
    border-top: 2px solid;
    border-left: 2px solid;
    border-right: 2px solid;
}

.colTitlSupUnique{
    border-top: 2px solid;
    border-left: 2px solid;
    border-right: 2px solid;
    border-bottom:  2px solid;
}

.colTitleLeft{
    border-left: 2px solid ;
    border-bottom:  2px solid ;
}

.colTitleMiddle{
     border-bottom:  2px solid ;
}

.colTitleRight{
    border-right: 2px solid ;
    border-bottom:  2px solid ;
}

.beLigne th{
    
    font-size: 0.8em;
}
.readOnly{
    background-color: darkgray;
}

.beLigne td{
    text-align: center;
}

.beLigne img{
    width: 16px;
    height: 16px;
    margin: auto;
}

.beLigne input{
    text-align: center;
    
    width: 45px;
    margin: auto;
    margin-left: 2px;
    margin-right: 2px;
}

.beLigne textArea{
    height: 20px;
    width: 45px;
    min-width: 45px;
    margin: auto;
    margin-left: 2px;
    margin-right: 2px;
}

